
$blue: #4582EC;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #02B875;
$teal: #20c997;
$cyan: #17a2b8;
$primary: $blue;
$gray-500: #adb5bd;
$secondary: $gray-500;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$gray-100: #f8f9fa;
$light: $gray-100;
$gray-800: #343a40;
$dark: $gray-800;
$white: #fff;
$gray-200: #e9ecef;
$gray-300: #ddd;
$gray-400: #ced4da;
$gray-600: #868e96;
$gray-700: #495057;
$gray-900: #212529;
$black: #000;
$body-color: $gray-800;
$font-size-base: 1.063rem;
$headings-font-weight: 700;
$table-border-color: rgba(0,0,0,0.1);
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.1rem;
$input-border-color: rgba(0,0,0,.1);
$input-group-addon-bg: $gray-200  !default;
$navbar-dark-color: rgba($white,.6);
$navbar-dark-hover-color: $white;
$navbar-light-hover-color: $body-color;
$navbar-light-active-color: $body-color;
$badge-font-weight: normal;
$badge-padding-y: 0.6em;
$badge-padding-x: 1.2em;